.gradle
/local.properties
/.idea/workspace.xml
/.idea/*.xml
/.idea/libraries
/.idea/inspectionProfiles
.DS_Store
/build/
*/build/
/reports/
/captures
android-build.conf

**/index.android.bundle
**/index.android.bundle.meta
**/index.android.map

**/com_crashlytics_export_strings.xml
**/crashlytics-build.properties

*.iml

.idea/
reports/

# ignore vscode setting file
.project
.settings/
.classpath
.vscode/
/gradle-user-home/
/profile-out/
/profile-out-2/
/profile-out-3/
/profile-out-4/
/profile-out-5/
